---
import Icon from "./Icon.astro";
import type { IconName } from "./icons.generated.ts";
interface Props {
  icon: IconName;
  title: string;
}
const { icon, title } = Astro.props;
---
<div class="ump-feature">
  <span class="ump-feature__icon"><Icon name={icon} /></span>
  <h3 class="ump-feature__title">{title}</h3>
  <div class="ump-feature__body"><slot /></div>
</div>
